$primary-white: #f8fafe;
$secondary-white: #ffffff;
$graident-white : linear-gradient(66deg, rgba(214,214,214,1) 0%, rgba(198,198,198,1) 100%);

body{
    background-color: $primary-white;
}

//Styling the card item
.card__item{
    padding: 8.5px;
    min-width: min-content;
    max-width: 300px;
    width: 100%;
    background-color: $secondary-white;
    text-align: center;
    border-radius: 2px;
    box-shadow: -1px 11px 27px -10px rgba(192,192,192,0.4);
    #{&}--title{
        background: $graident-white;
        padding: 20px;
        border-radius: 2px;
    }
    #{&}--pricing{
        padding: 30px;
    }
    #{&}--btn-ul{
        margin: 10px;
        >button{
            width: 100%;
        }
        >ul{
            text-align: left;
            padding: 15px;
            li{
                padding: 5px;
            }
        }
    }
}